.cabecera {
  display: flex;
  height: 125px;
  justify-content: space-between;
  align-items: center;
  padding: 1.1em 10em;
  background-color: var(--header);
}
a {
  text-decoration: none;
}

.logoContainer {
  height: 40px;
  display: flex;
  align-items: center;
}

.cabecera img {
  align-self: start;
  width: 168.5px;
  height: 40px;
}
