.campo {
  margin: 24px 0;
  text-align: left;
  width: 100%;
}

.campo label {
  font-size: 18px;
  font-weight: 600;
  display: block;
  margin-bottom: 8px;
}

.campo input {
  width: 100%;
  background-color: #041a69;
  box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.06);
  border: none;
  padding: 30px 20px;
  border-color: #2271D1;
  border-style: solid;
  border-radius: 10px;
  outline-color: #2271D1;
  color: #2271D1;
  font-size: 16px;
  box-sizing: border-box;
  height: 20px;
}

.campo-color input {
  height: 40px;
  padding: 5px 20px;
}
