:root {
  --font: "Montserrat", sans-serif;
  --blanco: #ffffff;
  --negro: #222;
  --gris: #e2e2e2;
  --header: #262626;
  --blue: #2271D1;
}

body {
  margin: 0;
  font-family: var(--font);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}